/* Background */
body{
    background: linear-gradient(-45deg, #5af03c, #3ca3e7, #f03bc3, #ff922d);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Bandeau haut et bas */
#bandeauTop{
    background-color: rgba(58, 58, 58, 0.712);
    margin-top: 2rem;
    height: 3.438rem;
    box-shadow: 6px 0px 7px -3px rgba(0,0,0,0.55);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: rgb(223, 223, 223);
}
.buttonLogout{
    margin-top: 0.900rem;
    border: solid 0px;
    border-radius: 5px;
    background-color: #de5555;
    color: white;
}
.topOffline{
    margin-top: 0.850rem;
}

#bandeauDown{
    background-color: rgba(58, 58, 58, 0.712);
    box-shadow: 6px 7px 7px -3px rgba(0,0,0,0.55);
    /*height: 3.438rem;*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#boutonEnvoyer{
    background-color: rgba(255, 255, 255, 0);
    border: solid 0px;
    float: right;
    margin-top: 0.625rem;
}
#icon{
    color: #559DDE;
}
#icon:hover{
    color: #3d6f9b;
}

.buttonSignIn{
    margin-top: 0.900rem;
    border: solid 0px;
    border-radius: 5px;
    background-color: #55de6c;
    color: white;
}
.buttonSignIn:hover{
    margin-top: 0.900rem;
    border: solid 0px;
    border-radius: 5px;
    background-color: #3ca04d;
    color: white;
}
.buttonRegister{
    margin-top: 0.900rem;
    border: solid 0px;
    border-radius: 5px;
    background-color: #55de6c;
    color: white;
}
.buttonRegister:hover{
    margin-top: 0.900rem;
    border: solid 0px;
    border-radius: 5px;
    background-color: #3ca04d;
    color: white;
}

.message{
    text-align: center;
    color: rgb(223, 223, 223);
}
/* Boite chat */
textarea{
    background-color: rgba(58, 58, 58, 0.712);
    color: rgb(223, 223, 223);
}

#box{
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(58, 58, 58, 0.575);
    height: 35rem;
    box-shadow: 6px 0px 7px -3px rgba(0,0,0,0.55);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(58, 58, 58, 0.712); 
}
::-webkit-scrollbar-thumb {
    background: rgb(87, 87, 87);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Message */
#formMessage{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    width: 80%;
    height: 2.5rem;
    vertical-align: middle;
}
#userMessage{
    color: rgb(235, 235, 235);
    background-color: rgba(37, 37, 37, 0.712);
    border: rgba(89, 157, 222, 0.829) solid 2px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    text-align: right;
    margin-bottom: 10px;
}
#otherMessage{
    color: rgb(235, 235, 235);
    background-color: rgba(37, 37, 37, 0.712);
    border: rgba(128, 128, 128, 0.829) solid 2px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    margin-bottom: 10px;
}
hr{
    background-color: gray;
    margin-bottom: -0rem;
}
.info{
    font-size: 12px;
}